[Unit]
Description=spotblock spotify ad blocker
Requires=dbus.service pulseaudio.service
After=dbus.service pulseaudio.service

[Service]
Type=simple
ExecStart=/usr/bin/spotblock

[Install]
WantedBy=default.target
